.header_container {
    padding: 2rem 7.5rem 7rem;
}

.header_logo-text {
    color: #FC552F;
}

.header_nav_menu li a {
    position: relative;
    font-size: 2rem;
    font-weight: 400;
    color: #6E727E;
}

.header_nav_menu a:not([href]):not([class]) {
    color: #6E727E;
    text-decoration: none;
}

header div ul li {
    padding: 1rem 1.5rem;
}

.header_get_started_button {
    border-radius: 1rem 3rem;
    height: 100%;
    padding: 1rem 2.5rem;
    background: #FC552F;
}

.header_get_started_button:hover {
    scale: 103%;
}

/*@media (max-width: 1536px) {*/
/*    .banner{*/
/*        height: auto;*/
/*    }*/
/*}*/


/*make hover animation just to be cool*/

.header_nav_menu a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .35s ease;
}

.header_nav_menu a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #6E727E;
    transition: width .35s ease;
}

.header_nav_menu a:hover:before {
    width: 100%;
    background: #6E727E;
    transition: width .35s ease;
}

.header_nav_menu a:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}