@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background: #FFFFFF;
    --bs-link-hover-color: initial;
}

a {
    color: inherit;
    text-decoration: none
}

* {
    box-sizing: border-box;
}
input {outline:none;}