
.redactProfile{
    font-family: 'Sansation', sans-serif;
    font-size: 30px;
}

.buttonRedact{
    background-color: #FF6498;
    border-radius: 50px;
    margin: 3rem;
    padding: 1rem 4rem;
    color: #0A2893;
}
.buttonRedact:hover{
    transform: scale(105%);
}

.profileName h1{
    border-bottom: 1px solid black;
    width: 115%;
}

.roles div{
    padding: .5rem .2rem;
    margin-right: 1rem;
    background-color: #FF6498;
    border-radius: 50px;
    color: #0A2893;
    width: 230px;

}

.roles div:hover{
    transform: scale(103%);

}

.roles div a{
    font-size: 1.7rem;
    cursor: default;
}

.myWorks{
    background-image: url('../../public/image/image 1.png');
    padding: 3rem;
    background-size: 100% 100%;
    backdrop-filter: blur(5px);
}

.wrksContainer{
    background-color: white;
}

.kontakts{
    border-bottom: 1px solid black;
}

.kontakts a:hover{
    transform: scale(105%);
}