.role_list {
    padding: 8px 12px;
}

.role_list:hover {
    background-color: rgba(0, 0, 0, 0.14);
}

.roleContainer_list{
    background-color: #FF6498;
    border-radius: 10px;
    color: #0A2893;
    width: 230px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.role_list{
    border-radius: 10px;
    font-size: 1.7rem;
}