.user_chooseWhoFind{
    background-color: white;
    border-radius: 100%;
    width: 290px;
    height: 290px;
    text-align: center;
    display: flex;
    transition: color .4s ease, transform .4s ease;
}

.user_chooseWhoFind:hover{
    color: #FF7EA9;
    transform: scale(105%);
}