.redactProfile{
    font-family: 'Sansation', sans-serif;
    font-size: 30px;
}

.role_list {
    padding: 8px 12px;
}

.role_list:hover {
    background-color: rgba(0, 0, 0, 0.14);
}

.roleContainer_list{
    background-color: #FF6498;
    border-radius: 10px;
    color: #0A2893;
    width: 230px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.role_list{
    border-radius: 10px;
    font-size: 1.7rem;
}

.redactorOfName{
    padding-right: 6.6rem;
}

.buttonRedact{
    background-color: #FF6498;
    border-radius: 50px;
    margin: 3rem;
    padding: 1rem 4rem;
    color: #0A2893;
}
.buttonRedact:hover{
    transform: scale(105%);
}

.nameInput{
    outline:none;
    border: 3px solid #446DFF;
    padding-bottom: 3px;
    border-radius: 15px;
}

.aboutInput{
    outline:none;
    border: 2px solid #446DFF;
    border-radius: 15px;
}

.plusWorks{
    transform: scale(200%);
}

.linksEdit{
    margin-left: 33rem;
}

.tgLink{
    border-bottom: 1px solid black;
}

.tgLink:focus{
    outline: none;
    border: 3px solid #446DFF;
    border-radius: 10px;
}

