.roles{
    max-height: 55px;
}

.profileName{
    width: 730px;
}

.profileName h1,
.profileName input{
    border-bottom: 1px solid black;
    min-height: 58px;
}

.roleContainer{
    padding: .5rem .2rem;
    margin-right: 1rem;
    background-color: #FF6498;
    border-radius: 50px;
    color: #0A2893;
    width: 230px;
    font-size: 1.7rem;
}

.roleContainer:hover{
    transform: scale(103%);
}


.myWorks{
    background-image: url('../../../../public/image/image 1.png');
    padding: 3rem;
    background-size: 100% 100%;
    backdrop-filter: blur(5px);
}

.wrksContainer{
    background-color: white;
}

.kontakts a:hover{
    transform: scale(105%);
}

.social{
    border-bottom: 1px solid black;
}